.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s ease;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  background-color: white;
  padding: 36px;
  border-radius: 8px;
  max-width: 430px;
  width: 90%;
}
  
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 40px;
  height: 40px;

  background-image: url("../images/close-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__close:hover {
  transform: scale(1.1);
}



.modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.modal__save {
  padding: 12px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.modal__save:hover {
  background-color: #333;
}

.modal__container_type_preview {
  background: transparent;
  padding: 0;
  width: auto;
  max-width: 80vw;
}

.modal__image {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 8px;
}

.modal__caption {
  margin-top: 10px;
  color: white;
  font-size: 16px;
}

/* MOBILE IMPLEMENTATION */

@media (max-width: 630px) {
  .modal__container {
    padding: 20px;
    width: 95%;
    border-radius: 12px;
  }

  .modal__title {
    font-size: 18px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__save {
    font-size: 16px;
  }

  .modal__close {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
  .modal__image {
      max-width: 95vw;
      max-height: 60vh;
    }
  
    .modal__caption {
      font-size: 14px;
      text-align: center;
    };
}

