.profile {
  display: flex;
  gap: 20px;
  padding: 34px 0 20px;
  border-bottom: 1px solid #21212166;
}


.profile__description {
  margin: 6px 0 12px;
  font-size: 16px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 20px;
  align-items: start;
}

.profile__name {
  font-size: 20px;
  margin: 0;
  max-width: 300px;
  font-weight: 500px;
}

.profile__edit-button {
  border: none; 
  background: transparent;
  cursor: pointer;
  margin-top: auto;
}

.profile__add-button {
  width: 157px;
  height: 52px;
  margin-top: auto;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px; 
  /* padding: 10px 18px; */
  border-radius: 8px;
  border: none;
  background-color: #000;
  color: #fcf5e5;
  cursor: pointer;
}

.profile__edit-rectangle-icon {
  width: 11.65px;
  height: 3.21px;
  top: 2.6px;
  left: 2.56px;
  opacity: 1;
  
}


@media (max-width: 630px) {

  .profile {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .profile__info {
    align-items: center;
  }

    .profile__add-button {
      width: 100%;
    }
}