.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 630px) {

  .profile {
    flex-direction: column;
    text-align: center;
  }

}

.profile__description {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 34px 0 20px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.profile__info {
  flex-grow: 1;
  margin-left: 20px;
}

.profile__name {
  font-size: 32px;
  margin: 0;
}

.profile__description {
  margin: 6px 0 12px;
  font-size: 16px;
}

.profile__edit-button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.profile__add-button {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  background-color: #000;
  color: white;
  cursor: pointer;
}