.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #21212140;
}

.header__logo {
  width: 94px;
  height: auto;
}